@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display+SC&display=swap');
*{
  box-sizing: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display SC', serif;
}
h1,h2,h3 {
  font-family: 'Lato', sans-serif;
}